// Body
$body-bg: #EBE5FC;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$theme-colors: (
    "primary":#7749F8,
    "secondary":#EBE5FC,
    "success": #28A745,
    "info": #aa52b3,
    "warning": #d2b316,
    "danger": #DD1C1A,
);