// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: contents;
}

form {
    display: contents;
}

.diary-form {
    @extend .form-group !optional;

    &>* {
        @extend .row;
        margin: 10px 0;
    }

    textarea {
        @extend .form-control;
        min-height: 150px;
    }

    label {
        @extend .my-md-0;
        @extend .my-2 !optional;
    }

    label>span {
        margin-bottom: 5px;
        margin-left: 5px;
        padding-left: 0;
    }

    button {
        @extend .btn;
        @extend .text-secondary;
        @extend .col-sm-5;
        @extend .col-12;
        @extend .mx-sm-2;
        @extend .mx-0;
        @extend .my-2;
    }
}

.diary-base {
    @extend .card;
    @extend .container;
    @extend .my-3;
    @extend .p-3;
    max-width: 687px;

    @include media-breakpoint-down(sm) {
        max-width: 450px;

    }
}

.diary-generator {
    @extend .diary-base;
    @extend .bg-primary;
    @extend .text-secondary;
    @extend .mt-2;

    .title {
        @extend .fs-3;
        @extend .fw-bold;
    }
}

.diary-card {
    @extend .diary-base;
    @extend .bg-secondary;
    @extend .text-primary;

    .title {
        @extend .fs-3;
        @extend .fw-bold;
    }

    input,
    select,
    textarea {
        @extend .bg-white;
    }

    .preview {
        &>* {
            // @extend .row;
            @extend .gx-0;
            margin: 10px 0;
        }

        span {
            @extend .fw-bold;
            font-size: 1.5rem;

            @include media-breakpoint-down(sm) {
                font-size: 1rem;
            }
        }

        p {
            @extend .ps-4;
            color: $black;
        }

        button {
            @extend .btn;
            @extend .col-12;
            @extend .col-sm-5;
            @extend .mx-0;
            @extend .mx-sm-2;
            @extend .my-2;
            @extend .text-secondary;
        }

    }

}